# pandas.set_option
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 6, 
              'display.max_columns', 100, 
              'display.float_format', '{:,.0f}'.format)

In [2]:
print(f"pandas  version = {pd.__version__}")

pandas  version = 0.24.2

In [3]:
pd.Timestamp.today()

Timestamp('2019-06-07 17:34:48.118836')

# Read data International tourism, receipts (current US$)
## Wide format

In [4]:
url='https://github.com/prasertcbs/basic-dataset/raw/master/intl_tourism_receipts_usd_wdi.xlsx'
df=pd.read_excel(url, sheet_name='Data', skiprows=3)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000","666,000,000","726,000,000","786,000,000","782,000,000","850,000,000","825,000,000","835,000,000","858,100,000","1,056,000,000","1,097,000,000","1,064,100,000","1,213,400,000","1,352,000,000","1,223,000,000","1,254,000,000","1,358,000,000","1,412,000,000","1,506,000,000","1,625,000,000","1,659,000,000","1,638,000,000",nan
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"47,000,000","90,000,000","169,000,000","152,000,000","177,000,000","191,000,000","92,000,000","88,000,000","51,000,000",nan
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"27,000,000","38,000,000","24,000,000","39,000,000","31,000,000","34,000,000","35,000,000","51,000,000","63,000,000","82,000,000","103,000,000","91,000,000","236,000,000","293,000,000","554,000,000","726,000,000","653,000,000","711,000,000","1,241,000,000","1,597,000,000","1,171,000,000","628,000,000",nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"2,654,000,000","3,137,000,000","3,422,000,000","3,419,000,000","3,407,000,000","3,338,000,000","3,256,000,000","3,695,000,000","6,674,000,000","7,571,000,000","8,629,000,000","9,211,000,000","10,226,000,000","9,178,000,000","8,684,000,000","10,309,000,000","10,706,000,000","11,202,000,000","10,468,000,000","10,484,000,000","9,140,000,000","8,807,000,000",nan
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,"29,000,000","40,000,000","53,000,000","67,000,000","80,000,000","64,000,000","88,000,000","92,000,000","447,000,000","506,000,000","599,000,000","542,000,000","474,000,000","492,000,000","555,000,000","518,000,000","552,000,000","642,000,000","660,000,000","683,000,000",nan
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"145,000,000","232,000,000","205,000,000","158,000,000","202,000,000","125,000,000","81,000,000","76,000,000","61,000,000","194,000,000","99,000,000","338,000,000","365,000,000","294,000,000","129,000,000","135,000,000","164,000,000","174,000,000","183,000,000","186,000,000","191,000,000","194,000,000",nan

In [5]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000","666,000,000","726,000,000","786,000,000","782,000,000","850,000,000","825,000,000","835,000,000","858,100,000","1,056,000,000","1,097,000,000","1,064,100,000","1,213,400,000","1,352,000,000","1,223,000,000","1,254,000,000","1,358,000,000","1,412,000,000","1,506,000,000","1,625,000,000","1,659,000,000","1,638,000,000",nan
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"47,000,000","90,000,000","169,000,000","152,000,000","177,000,000","191,000,000","92,000,000","88,000,000","51,000,000",nan
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"27,000,000","38,000,000","24,000,000","39,000,000","31,000,000","34,000,000","35,000,000","51,000,000","63,000,000","82,000,000","103,000,000","91,000,000","236,000,000","293,000,000","554,000,000","726,000,000","653,000,000","711,000,000","1,241,000,000","1,597,000,000","1,171,000,000","628,000,000",nan
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"70,000,000","94,000,000","34,000,000","60,000,000","218,000,000","398,000,000","451,000,000","492,000,000","537,000,000","756,000,000","880,000,000","1,057,000,000","1,479,000,000","1,848,000,000","2,014,000,000","1,780,000,000","1,833,000,000","1,623,000,000","1,670,000,000","1,849,000,000","1,614,000,000","1,821,000,000",nan
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [6]:
df.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"50,000,000","55,000,000","70,000,000","84,000,000","61,000,000","73,000,000","38,000,000","38,000,000","139,000,000","139,000,000","181,000,000","181,000,000","425,000,000","886,000,000","899,000,000","1,291,000,000","910,000,000","1,005,000,000","1,097,000,000","1,199,000,000","116,000,000",nan,nan
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"2,654,000,000","3,137,000,000","3,422,000,000","3,419,000,000","3,407,000,000","3,338,000,000","3,256,000,000","3,695,000,000","6,674,000,000","7,571,000,000","8,629,000,000","9,211,000,000","10,226,000,000","9,178,000,000","8,684,000,000","10,309,000,000","10,706,000,000","11,202,000,000","10,468,000,000","10,484,000,000","9,140,000,000","8,807,000,000",nan
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,"29,000,000","40,000,000","53,000,000","67,000,000","80,000,000","64,000,000","88,000,000","92,000,000","447,000,000","506,000,000","599,000,000","542,000,000","474,000,000","492,000,000","555,000,000","518,000,000","552,000,000","642,000,000","660,000,000","683,000,000",nan
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"145,000,000","232,000,000","205,000,000","158,000,000","202,000,000","125,000,000","81,000,000","76,000,000","61,000,000","194,000,000","99,000,000","338,000,000","365,000,000","294,000,000","129,000,000","135,000,000","164,000,000","174,000,000","183,000,000","186,000,000","191,000,000","194,000,000",nan

In [19]:
pd.set_option('display.max_rows', 6)

In [20]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,8.250000e+08,8.350000e+08,8.581000e+08,1.056000e+09,1.097000e+09,1.064100e+09,1.213400e+09,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,3.500000e+07,5.100000e+07,6.300000e+07,8.200000e+07,1.030000e+08,9.100000e+07,2.360000e+08,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,3.256000e+09,3.695000e+09,6.674000e+09,7.571000e+09,8.629000e+09,9.211000e+09,1.022600e+10,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,8.000000e+07,6.400000e+07,8.800000e+07,9.200000e+07,4.470000e+08,5.060000e+08,5.990000e+08,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,8.100000e+07,7.600000e+07,6.100000e+07,1.940000e+08,9.900000e+07,3.380000e+08,3.650000e+08,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [9]:
pd.reset_option('display.max_rows')

In [10]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000","666,000,000","726,000,000","786,000,000","782,000,000","850,000,000","825,000,000","835,000,000","858,100,000","1,056,000,000","1,097,000,000","1,064,100,000","1,213,400,000","1,352,000,000","1,223,000,000","1,254,000,000","1,358,000,000","1,412,000,000","1,506,000,000","1,625,000,000","1,659,000,000","1,638,000,000",nan
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"47,000,000","90,000,000","169,000,000","152,000,000","177,000,000","191,000,000","92,000,000","88,000,000","51,000,000",nan
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"27,000,000","38,000,000","24,000,000","39,000,000","31,000,000","34,000,000","35,000,000","51,000,000","63,000,000","82,000,000","103,000,000","91,000,000","236,000,000","293,000,000","554,000,000","726,000,000","653,000,000","711,000,000","1,241,000,000","1,597,000,000","1,171,000,000","628,000,000",nan
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"70,000,000","94,000,000","34,000,000","60,000,000","218,000,000","398,000,000","451,000,000","492,000,000","537,000,000","756,000,000","880,000,000","1,057,000,000","1,479,000,000","1,848,000,000","2,014,000,000","1,780,000,000","1,833,000,000","1,623,000,000","1,670,000,000","1,849,000,000","1,614,000,000","1,821,000,000",nan
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,Arab World,ARB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"13,939,505,828","15,488,951,589","16,040,465,020","16,072,624,315","17,694,512,449","18,436,955,810","18,973,742,971","24,056,633,857","29,371,428,769","37,102,492,579","40,367,797,948","45,865,305,600","56,422,040,593","63,558,742,431","64,033,250,220","74,155,828,581","64,751,803,393","72,107,839,140","71,178,812,322","80,100,218,929","83,113,155,457","81,362,698,793",nan
6,United Arab Emirates,ARE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"632,000,000","743,000,000","814,000,000","859,000,000","893,000,000","1,063,000,000","1,200,000,000","1,332,000,000","1,438,000,000","1,593,000,000","3,218,000,000","4,972,000,000","6,072,000,000","7,162,000,000","7,352,000,000","8,577,000,000","9,204,000,000","10,924,000,000","12,389,000,000","15,221,000,000","17,481,000,000","19,496,000,000",nan
7,Argentina,ARG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"2,550,000,000","2,975,000,000","3,153,000,000","3,353,000,000","3,175,000,000","3,195,000,000","2,756,000,000","1,716,000,000","2,306,000,000","2,660,000,000","3,209,000,000","3,926,000,000","5,030,000,000","5,273,000,000","4,455,000,000","5,605,000,000","6,058,000,000","5,665,000,000","5,199,000,000","5,645,000,000","5,441,000,000","5,186,000,000",nan
8,Armenia,ARM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"14,000,000","18,000,000","33,000,000","41,000,000","47,000,000","52,000,000","81,000,000","81,000,000","90,000,000","188,000,000","243,000,000","406,000,000","522,000,000","564,000,000","570,000,000","694,000,000","762,000,000","853,000,000","905,000,000","994,000,000","956,000,000","988,000,000",nan
9,American Samoa,ASM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
10,Antigua and Barbuda,ATG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"247,000,000","258,000,000","278,000,000","282,000,000","290,000,000","291,000,000","272,000,000","274,000,000","300,000,000","337,000,000","309,000,000","327,000,000","338,000,000","334,000,000","305,000,000","298,000,000","312,000,000","319,000,000","299,000,000","708,000,000","714,000,000","693,000,000",nan
11,Australia,AUS,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"11,915,000,000","13,779,000,000","13,698,000,000","11,664,000,000","12,866,000,000","13,016,000,000","12,804,000,000","13,624,000,000","16,647,000,000","20,453,000,000","19,719,000,000","20,408,000,000","25,024,000,000","27,189,000,000","26,909,000,000","31,064,000,000","34,315,000,000","34,137,000,000","32,889,000,000","33,619,000,000","30,872,000,000","34,475,000,000",nan
12,Austria,AUT,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"14,529,000,000","13,980,000,000","12,275,000,000","12,694,000,000","12,358,000,000","11,382,000,000","11,511,000,000","12,334,000,000","15,128,000,000","17,251,000,000","18,471,000,000","16,512,000,000","18,559,000,000","21,630,000,000","19,154,000,000","18,758,000,000","19,775,000,000","18,937,000,000","20,220,000,000","20,907,000,000","18,288,000,000","19,241,000,000",nan
13,Azerbaijan,AZE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"87,000,000","57,000,000","176,000,000","143,000,000","93,000,000","68,000,000","57,000,000","63,000,000","70,000,000","79,000,000","100,000,000","201,000,000","317,000,000","382,000,000","545,000,000","792,000,000","1,500,000,000","2,634,000,000","2,618,000,000","2,713,000,000","2,535,000,000","2,855,000,000",nan
14,Burundi,BDI,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"2,424,994","2,141,381","1,440,072","1,300,000","1,200,000","1,400,000","900,000","1,600,000","1,200,000","1,800,000","1,900,000","1,600,000","2,300,000","1,600,000","1,700,000","2,100,000","3,700,000","1,500,000","2,300,000","4,100,000","2,200,000","1,900,000",nan
15,Belgium,BEL,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"4,548,000,000","4,844,000,000","4,529,000,000","4,623,000,000","6,472,000,000","6,592,000,000","8,304,000,000","7,598,000,000","8,848,000,000","10,089,000,000","10,881,000,000","11,625,000,000","12,371,000,000","12,018,000,000","11,423,000,000","11,395,000,000","12,742,000,000","13,711,000,000","14,536,000,000","15,244,000,000","13,084,000,000","12,772,000,000",nan
16,Benin,BEN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"85,000,000","79,100,000","56,200,000","64,200,000","94,400,000","77,400,000","85,500,000","94,500,000","107,900,000","120,900,000","107,700,000","121,600,000","206,300,000","236,400,000","131,400,000","149,400,000","201,000,000","174,000,000","193,000,000","153,000,000","148,000,000",nan,nan
17,Burkina Faso,BFA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,"23,000,000","25,000,000","37,000,000","38,000,000","52,000,000","46,000,000","55,000,000","61,000,000","82,000,000","99,000,000","105,000,000","116,000,000","128,000,000","200,000,000","183,000,000","109,000,000",nan,nan
18,Bangladesh,BGD,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"25,000,000","33,000,000","62,000,000","52,000,000","50,000,000","50,000,000","48,000,000","59,000,000","59,000,000","76,000,000","82,000,000","79,000,000","80,000,000","59,000,000","95,000,000","104,000,000","97,000,000","105,000,000","131,000,000","154,000,000","148,400,000","175,000,000",nan
19,Bulgaria,BGR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"662,000,000","541,000,000","517,000,000","1,150,000,000","1,184,000,000","1,364,000,000","1,262,000,000","1,392,000,000","2,051,000,000","2,796,000,000","3,063,000,000","3,317,000,000","4,181,000,000","4,852,000,000","4,273,000,000","3,807,000,000","4,297,000,000","3,975,000,000","4,410,000,000","4,518,000,000","3,583,000,000","4,164,000,000",nan
20,Bahrain,BHR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"593,000,000","589,000,000","578,000,000","625,000,000","785,000,000","854,000,000","886,000,000","985,000,000","1,206,000,000","1,504,000,000","1,603,000,000","1,786,000,000","1,854,000,000","1,927,000,000","1,873,000,000","2,163,000,000","1,766,000,000","1,742,000,000","1,865,000,000","1,915,000,000",nan,nan,nan
21,"Bahamas, The",BHS,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"1,356,000,000","1,409,000,000","1,427,000,000","1,365,000,000","1,598,000,000","1,753,000,000","1,665,000,000","1,773,000,000","1,770,000,000","1,897,000,000","2,081,000,000","2,066,000,000","2,198,000,000","2,155,000,000","2,025,000,000","2,159,000,000","2,157,000,000","2,333,000,000","2,305,000,000","2,336,000,000","2,554,000,000","2,627,000,000",nan
22,Bosnia and Herzegovina,BIH,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,"257,000,000","258,000,000","246,000,000","279,000,000","307,000,000","404,000,000","507,000,000","557,000,000","658,000,000","804,000,000","913,000,000","753,000,000","662,000,000","722,000,000","686,000,000","752,000,000","755,000,000","702,000,000","770,000,000",nan
23,Belarus,BLR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"28,000,000","61,000,000","40,000,000","54,000,000","92,000,000","188,000,000","272,000,000","295,000,000","339,000,000","362,000,000","346,000,000","401,000,000","479,000,000","585,000,000","563,000,000","665,000,000","747,000,000","986,000,000","1,156,000,000","1,230,000,000","1,013,000,000","1,019,000,000",nan
24,Belize,BLZ,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"78,000,000","95,000,000","97,000,000","101,000,000","101,000,000","111,000,000","111,000,000","121,000,000","150,000,000","168,000,000","214,000,000","260,000,000","289,000,000","278,000,000","256,000,000","264,000,000","248,000,000","298,000,000","351,000,000","380,000,000","372,000,000","391,000,000",nan
25,Bermuda,BMU,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"488,000,000","472,000,000","478,000,000","487,000,000","479,000,000","431,000,000","351,000,000","378,000,000","348,000,000","426,000,000","429,000,000","495,000,000","569,000,000","431,000,000","366,000,000","442,000,000","500,000,000","448,000,000","447,000,000","407,000,000","386,000,000","445,000,000",nan
26,Bolivia,BOL,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"92,000,000","100,000,000","129,000,000","137,000,000","124,000,000","101,000,000","119,000,000","143,000,000","243,000,000","283,000,000","345,000,000","330,000,000","326,000,000","302,000,000","306,000,000","339,000,000","499,000,000","631,000,000","639,000,000","746,000,000","810,000,000","801,000,000",nan
27,Brazil,BRA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"1,085,000,000","744,000,000","1,025,000,000","1,398,000,000","1,718,000,000","1,969,000,000","1,844,000,000","2,142,000,000","2,673,000,000","3,389,000,000","4,168,000,000","4,577,000,000","5,284,000,000","6,109,000,000","5,635,000,000","5,522,000,000","6,370,000,000","6,623,000,000","6,784,000,000","7,405,000,000","6,254,000,000","6,613,000,000",nan
28,Barbados,BRB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"630,000,000","667,000,000","672,000,000","721,000,000","697,000,000","733,000,000","706,000,000","666,000,000","767,000,000","784,000,000","1,081,000,000","1,235,000,000","1,224,000,000","1,244,000,000","1,122,000,000","1,074,000,000","983,000,000","947,000,000","992,000,000",nan,nan,nan,nan
29,Brunei Darussalam,BRN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,"155,000,000","113,000,000","124,000,000","181,000,000","191,000,000","224,000,000","233,000,000","242,000,000","254,000,000",nan,nan,"92,000,000","96,000,000","79,000,000","147,000,000","144,000,000",nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"20,970,000,000","23,236,000,000","24,957,000,000","26,161,000,000","26,761,000,000","29,040,000,000","28,429,000,000","27,552,000,000","30,541,000,000","35,090,000,000","39,864,000,000","44,051,700,000","49,342,600,000","53,874,800,000","49,764,100,000","52,391,700,000","57,437,500,000","61,607,700,000","65,536,000,000","72,343,000,000","74,799,000,000","79,779,327,883",nan
235,Timor-Leste,TLS,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"20,300,000","26,000,000","14,000,000","16,000,000","24,000,000","18,000,000","21,000,000","29,000,000","35,000,000","51,000,000","58,000,000",nan
236,Middle East & North Africa (IDA & IBRD countries),TMN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"9,557,067,278","10,551,498,787","10,984,943,182","11,085,470,948","12,175,408,857","12,673,026,321","13,447,823,241","17,716,286,425","21,277,485,630","24,793,276,273","27,372,100,000","30,489,800,000","36,898,800,000","42,240,800,000","42,797,000,000","50,180,000,000","39,335,460,828","42,267,034,363","38,851,897,968","42,839,608,141","39,194,158,626","32,948,689,896",nan
237,Tonga,TON,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"10,000,000","13,000,000","16,000,000","8,000,000","9,000,000","7,000,000","6,800,000","5,900,000","10,300,000","13,100,000","15,000,000","15,700,000","15,200,000","19,400,000","16,900,000","28,000,000","31,700,000","45,800,000","48,100,000",nan,nan,nan,nan
238,South Asia (IDA & IBRD),TSA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"4,015,567,275","4,257,263,507","4,426,751,736","4,497,956,850","4,531,052,185","5,151,840,433","4,810,858,197","5,008,427,316","6,609,038,048","8,725,133,690","10,332,764,644","12,108,880,939","14,814,675,272","16,316,000,000","14,988,000,000","18,960,000,000","22,962,000,000","23,896,000,000","25,806,000,000","28,693,000,000","29,921,400,000","32,306,000,000",nan
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"7,532,469,739","8,344,671,841","8,860,409,095","9,303,099,777","9,686,038,497","8,696,168,472","9,275,212,506","10,228,676,857","14,483,166,094","16,823,154,261","19,504,398,562","21,846,713,406","25,926,956,589","26,096,273,958","24,122,265,070","27,102,369,340","30,275,601,066","32,912,830,017","33,079,096,873","33,785,016,909","31,448,555,056","31,198,802,043",nan
240,Trinidad and Tobago,TTO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"232,000,000","262,000,000","344,000,000","356,000,000","365,000,000","371,000,000","361,000,000","402,000,000","437,000,000","568,000,000","593,000,000","517,000,000","621,000,000","557,000,000","548,000,000","630,000,000","650,000,000","852,000,000","856,000,000","875,000,000","809,000,000","708,000,000",nan
241,Tunisia,TUN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"1,838,000,000","1,895,000,000","1,858,000,000","1,980,000,000","2,118,000,000","1,977,000,000","2,061,000,000","1,831,000,000","1,935,000,000","2,432,000,000","2,800,000,000","2,999,000,000","3,373,000,000","3,909,000,000","3,524,000,000","3,477,000,000","2,529,000,000","2,931,000,000","2,863,000,000","3,042,000,000","1,869,000,000","1,706,000,000",nan
242,Turkey,TUR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"4,957,000,000","5,650,000,000","7,002,000,000","7,177,000,000","5,203,000,000","7,636,000,000","10,067,000,000","11,901,000,000","13,203,000,000","15,888,000,000","20,760,000,000","19,137,000,000","21,662,000,000","26,446,000,000","26,331,000,000","26,318,000,000","30,302,000,000","31,566,000,000","36,192,000,000","38,766,000,000","35,451,000,000","26,695,000,000",nan
243,Tuvalu,TUV,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"1,200,000","1,200,000","1,500,000","1,900,000","1,500,000","2,400,000","2,400,000","2,700,000","2,400,000",nan,nan,nan,nan
244,Tanzania,TZA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"502,000,000","473,000,000","343,000,000","404,000,000","467,000,000","381,000,000","626,000,000","639,000,000","654,000,000","762,000,000","835,000,000","986,000,000","1,215,000,000","1,293,000,000","1,192,000,000","1,279,000,000","1,383,000,000","1,754,000,000","1,939,000,000","2,047,000,000","1,924,000,000","2,157,000,000",nan
245,Uganda,UGA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"78,000,000","117,000,000","135,000,000","144,000,000","151,000,000","165,000,000","187,000,000","194,000,000","185,000,000","268,000,000","382,000,000","347,000,000","402,000,000","536,000,000","683,000,000","802,000,000","977,000,000","1,157,000,000","1,355,000,000","810,000,000","1,180,000,000","768,000,000",nan
246,Ukraine,UKR,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"191,000,000","448,000,000","477,000,000","539,000,000","503,000,000","563,000,000","759,000,000","1,001,000,000","1,204,000,000","2,931,000,000","3,542,000,000","4,018,000,000","5,320,000,000","6,722,000,000","4,349,000,000","4,696,000,000","5,406,000,000","5,988,000,000","5,931,000,000","2,264,000,000","1,662,000,000","1,723,000,000",nan
247,Upper middle income,UMC,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"60,562,817,454","70,871,829,686","75,400,264,347","75,504,572,849","75,360,968,728","84,727,162,604","92,108,491,153","103,499,831,608","113,360,396,278","138,140,019,563","153,919,137,416","171,958,524,487","201,716,298,385","224,447,064,646","207,692,378,161","224,371,163,219","250,530,983,432","266,567,788,030","290,691,947,694","291,060,022,127","283,768,928,807","283,666,948,336",nan
248,Uruguay,URY,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"725,000,000","890,000,000","862,000,000","695,000,000","653,000,000","827,000,000","700,000,000","409,000,000","419,000,000","591,000,000","699,000,000","711,000,000","928,000,000","1,195,000,000","1,460,000,000","1,669,000,000","2,401,000,000","2,219,000,000","2,015,000,000","1,869,000,000","1,880,000,000","2,156,000,000",nan
249,United States,USA,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"93,743,000,000","102,196,000,000","107,047,000,000","105,095,000,000","111,475,000,000","120,912,000,000","109,103,000,000","104,427,000,000","101,535,000,000","115,689,000,000","122,077,000,000","126,778,000,000","144,223,000,000","164,721,000,000","146,002,000,000","167,996,000,000","187,629,000,000","200,997,000,000","218,496,000,000","235,990,000,000","247,394,000,000","244,708,000,000",nan
250,Uzbekistan,UZB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,"15,000,000","198,000,000","167,000,000","102,000,000","63,000,000","72,000,000","68,000,000","48,000,000","57,000,000","28,000,000","43,000,000","51,000,000","64,000,000","99,000,000","121,000,000",nan,nan,nan,nan,nan,nan,nan
251,St. Vincent and the Grenadines,VCT,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"53,000,000","64,000,000","71,000,000","73,000,000","85,000,000","82,000,000","89,000,000","91,000,000","91,000,000","96,000,000","104,000,000","113,000,000","110,000,000","96,000,000","88,000,000","86,000,000","92,000,000","94,000,000","92,000,000","175,000,000","202,000,000","208,000,000",nan
252,"Venezuela, RB",VEN,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"995,000,000","1,026,000,000","623,000,000","769,000,000","643,000,000","469,000,000","677,000,000","484,000,000","378,000,000","554,000,000","722,000,000","843,000,000","972,000,000","1,097,000,000","1,053,000,000","885,000,000","806,000,000","904,000,000","926,000,000","900,000,000","654,000,000","546,000,000",nan
253,British Virgin Islands,VGB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"211,000,000","227,000,000","220,000,000","255,000,000","339,000,000","345,000,000","401,000,000","345,000,000","342,000,000","393,000,000","412,000,000","438,000,000","451,000,000","446,000,000","374,000,000","389,000,000","388,000,000","398,000,000","421,000,000","459,000,000","484,000,000",nan,nan

In [11]:
pd.set_option('display.max_columns', 100)

In [12]:
df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000","666,000,000","726,000,000","786,000,000","782,000,000","850,000,000","825,000,000","835,000,000","858,100,000","1,056,000,000","1,097,000,000","1,064,100,000","1,213,400,000","1,352,000,000","1,223,000,000","1,254,000,000","1,358,000,000","1,412,000,000","1,506,000,000","1,625,000,000","1,659,000,000","1,638,000,000",nan
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"47,000,000","90,000,000","169,000,000","152,000,000","177,000,000","191,000,000","92,000,000","88,000,000","51,000,000",nan

In [13]:
pd.set_option('display.float_format', '{:,.0f}'.format)

In [14]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000","666,000,000","726,000,000","786,000,000","782,000,000","850,000,000","825,000,000","835,000,000","858,100,000","1,056,000,000","1,097,000,000","1,064,100,000","1,213,400,000","1,352,000,000","1,223,000,000","1,254,000,000","1,358,000,000","1,412,000,000","1,506,000,000","1,625,000,000","1,659,000,000","1,638,000,000",nan
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"47,000,000","90,000,000","169,000,000","152,000,000","177,000,000","191,000,000","92,000,000","88,000,000","51,000,000",nan
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"27,000,000","38,000,000","24,000,000","39,000,000","31,000,000","34,000,000","35,000,000","51,000,000","63,000,000","82,000,000","103,000,000","91,000,000","236,000,000","293,000,000","554,000,000","726,000,000","653,000,000","711,000,000","1,241,000,000","1,597,000,000","1,171,000,000","628,000,000",nan
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"70,000,000","94,000,000","34,000,000","60,000,000","218,000,000","398,000,000","451,000,000","492,000,000","537,000,000","756,000,000","880,000,000","1,057,000,000","1,479,000,000","1,848,000,000","2,014,000,000","1,780,000,000","1,833,000,000","1,623,000,000","1,670,000,000","1,849,000,000","1,614,000,000","1,821,000,000",nan
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [15]:
pd.reset_option('display.float_format')

In [16]:
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,554000000.0,666000000.0,726000000.0,786000000.0,782000000.0,850000000.0,825000000.0,835000000.0,858100000.0,1.056000e+09,1.097000e+09,1.064100e+09,1.213400e+09,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,27000000.0,38000000.0,24000000.0,39000000.0,31000000.0,34000000.0,35000000.0,51000000.0,63000000.0,8.200000e+07,1.030000e+08,9.100000e+07,2.360000e+08,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN